{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">User Details</h1>
        <nav class="header-nav"><a href="/TicketListing" class="header-nav-btn">Return</a> | <a href="/DeleteUser" class="header-nav-btn">Delete Account</a></nav>
    </div>

    <div class="middle-container">
        <form method="POST" action="/UpdateUser">
            <table>
                <tr>
                    <td><input name="RoleIDs" type="hidden" value= {{user.RoleIDs}}></td>
                    <td><input name="isloggedin" type="hidden" value={{user.isloggedin}}></td>
                    <td><input name="_id" type="hidden" value={{user._id}}></td>
                </tr>
                <tr>
                    <td><label for="username">username</label><input name="username" type="text" value={{user.username}}></td>
                </tr>
                <tr>
                    <td><label for="password">password</label><input name="password" type="text" value={{user.password}}></td>
                </tr>
                <tr>
                    <td><input type="submit"></td>
                </tr>
            </table>
        </form>
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}