<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Index</h1>
        <nav class="header-nav"><a href="/TicketListing" class="header-nav-btn">Return</a></nav>
    </div>

    <div class="middle-container">
            <div>
                <table>
                    <tr style="border: solid black 2px;">
                        <td><h3>{{ticket.Title}}</h3></td>
                    </tr>
                    <tr style="border: solid black 2px;">
                        <td style="border: solid black 2px;">
                            TicketNumber: {{ticket.TicketNumber}}<br>
                            Type: {{ticket.Type}}<br>
                            Status: {{ticket.Status}}<br>
                            Created by: {{ticket.UserID}}<br>
                            Priority: {{ticket.Priority}}<br>
                            Date of Submission: {{ticket.DOS}}
                        </td>
                    </tr>
                    <tr>
                        <td style="border: solid black 2px;">Description: {{ticket.Description}}</td>
                    </tr>
                    <tr>
                        {{#if creator}}
                        <td><a href="/UpdateTicket/{{ticket._id}}">Update Ticket</a></td>
                        {{/if}}
                    </tr>
                </table>
            </div>

        {{#unless closed}}
            <div>
                <table style="border: solid black 2px;">
                    {{#each comments}}
                        <tr>
                            <td style="border: solid black 2px;">{{this.Content}}<br>Created by: {{this.UserID}} - Submitted: {{this.DOS}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        {{/unless}}
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>