{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Listing</h1>
        <nav class="header-nav"><a href="/Loginout" class="header-nav-btn">Loginout</a>|<a href="/UpdateUser">Update Details</a></nav>
    </div>

    <div class="middle-container">
        <nav class="middle-nav"><a href="/CreateTicket">Create Ticket</a></nav>
        {{#each tickets}}
            <div style="border: black solid 2px;">
                <table>
                    <tr>
                        <td><h3>{{this.Title}}</h3></td>
                    </tr>
                    <tr>
                        <td>TicketNumber: {{this.TicketNumber}}</td>
                    </tr>
                    <tr>
                        <td>Type: {{this.Type}}</td>
                    </tr>
                    <tr>
                        <td>Status: {{this.Status}}</td>
                    </tr>
                    <tr>
                        <td>Created by: {{this.UserID}}</td>
                    </tr>
                    <tr>
                        <td>Priority: {{this.Priority}}</td>
                    </tr>
                    <tr>
                        <td>Date of Submission: {{this.DOS}}</td>
                    </tr>
                    <tr>
                        <td><a href="/ViewTicket/{{this._id}}">View Ticket</a>|<a href="/UpdateTicket">Update Ticket</a></td>
                    </tr>
                </table>
            </div>
        {{/each}}
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}