{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Listing</h1>
        <h2 class="header-subtitle">Welcome user, {{username}}</h2>
        <nav class="header-nav"><a href="/Loginout" class="header-nav-btn">Loginout</a>|<a href="/UpdateUser">Update Details</a></nav>
    </div>

    <div class="middle-container">
        <nav class="middle-nav"><a href="/CreateTicket">Create Ticket</a></nav>
        {{#each tickets}}
            <div>
                <table>
                    <tr style="border: solid black 2px;">
                        <td><h3>{{this.Title}}</h3></td>
                    </tr>
                    <tr style="border: solid black 2px;">
                        <td style="border: solid black 2px;">
                            TicketNumber: {{this.TicketNumber}}<br>
                            Type: {{this.Type}}<br>
                            Status: {{this.Status}}<br>
                            Created by: {{this.User.username}}<br>
                            Priority: {{this.Priority}}<br>
                            Date of Submission: {{this.DOS}}
                        </td>
                    </tr>
                    <tr>
                        <td>Assigned User:{{Assignee.username}}</td>
                    </tr>
                    <tr>
                        <td><a href="/ViewTicket/{{this._id}}">View</a></td>
                    </tr>
                </table>
            </div>
        {{/each}}
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}