{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Index</h1>
        <nav class="header-nav"><a href="/TicketListing" class="header-nav-btn">Return</a></nav>
    </div>

    <div class="middle-container">
        <form method="POST" action="/UpdateTicket">
            <input type="hidden" name="_id" value={{ticket._id}}>
            <div style="border: black solid 2px;">
                <table>
                    <tr>
                        <td>Title:<input type="text" name="title" value={{ticket.Title}}></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="ticketnumber" value={{ticket.TicketNumber}}></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="assigneeold" value={{ticket.Assignee._id}}></td>
                    </tr>
                    <tr>
                        <td>Type:<select required name="type">
                            <option value="development">Development</option>
                            <option value="testing">Testing</option>
                            <option value="production">Production</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Status:<select required name="status">
                            <option value="open">Open</option>
                            <option value="resolved">Resolved</option>
                            <option value="closed">Closed</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="userid" value={{ticket.UserID}}></td>
                    </tr>
                    <tr>
                        <td>Priority:<select required name="priority">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="dos" value={{ticket.DOS}}></td>
                    </tr>
                    <tr>
                        <td>Description:<input type="text" name="description" value={{ticket.Description}}></td>
                    </tr>
                    <tr>
                        <td>Assigned User:{{ticket.Assignee.username}}</td>
                    </tr>
                    <tr>
                        <td>Assign User:<select name="assigneenew">
                            <option value="null">None</option>
                            {{#each users}}
                            <option value={{this._id}}>{{this.username}}</option>
                            {{/each}}
                        </select>
                        </td>
                    </tr>
                    <tr>
                        {{#unless creator}}
                        <td><a href="/DeleteTicket/{{ticket._id}}">Delete Ticket</a></td>
                        {{/unless}}
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}