{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> --}}
<body>
    <div class="header-container">
        <h1 class="header-title">Safari Security Ticket Index</h1>
        <nav class="header-nav"><a href="/TicketListing" class="header-nav-btn">Return</a></nav>
    </div>

    <div class="middle-container">
        <form method="POST" action="/UpdateTicket">
            <input type="hidden" name="_id" value={{ticket._id}}>
            <div style="border: black solid 2px;">
                <table>
                    <tr>
                        <td>Title:<input type="text" name="title" value={{ticket.Title}}></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="ticketnumber" value={{ticket.TicketNumber}}></td>
                    </tr>
                    <tr>
                        <td>Type:<input type="text" name="type" value={{ticket.Type}}></td>
                    </tr>
                    <tr>
                        <td>Status:<input type="text" name="status" value={{ticket.Status}}></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="userid" value={{ticket.UserID}}></td>
                    </tr>
                    <tr>
                        <td>Priority:<input type="text" name="priority" value={{ticket.Priority}}></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="dos" value={{ticket.DOS}}></td>
                    </tr>
                    <tr>
                        <td>Description:<input type="text" name="description" value={{ticket.Description}}></td>
                    </tr>
                    <tr>
                        {{#if creator}}
                        <td><a href="/DeleteTicket/{{ticket._id}}">Delete Ticket</a></td>
                        {{/if}}
                    </tr>
                    <tr>
                        <td><input type="submit"></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>

    <div class="footer-container">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla tincidunt volutpat gravida. Proin ac sollicitudin ipsum, vitae interdum risus. 
        </p>
    </div>
</body>
{{!-- </html> --}}